# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# IDE
.idea/
.vscode/

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Vector stores / DB
*.sqlite3
*.faiss
*.chroma/
data/vectorstore/

# OS
.DS_Store
Thumbs.db
